<!-- Page Content -->
    <div class="container-fluid">

<!-- Content Row -->
      <div class="row">

        <div class="col-lg-4 mb-4">
          <h3>
            <a href="https://en.wikipedia.org/wiki/Ban_Jelačić_Square" target="_blank">Ban Jelačić Square</a>
          </h3>
          <h3>
            <a href="http://www.pp-medvednica.hr/en/" target="_blank">Nature Park Medvednica</a>
          </h3>
          <h3>
            <a href="https://zoo.hr/" target="_blank">Zagreb ZOO in Maksimir Park</a>
          </h3>
          <h3>
            <a href="https://en.wikipedia.org/wiki/Bundek" target="_blank">Bundek Lake</a>
          </h3>
          <h3>
            <a href="https://en.wikipedia.org/wiki/Jarun" target="_blank">Jarun Lake</a>
          </h3>
          <h3>
            <a href="https://en.wikipedia.org/wiki/Zagreb_Cathedral" target="_blank">Zagreb Cathedral</a>
          </h3>
          <h3>
            <a href="https://en.wikipedia.org/wiki/Gornji_Grad–Medveščak" target="_blank">Upper Town</a>
          </h3>
          <h3>
            <a href="https://en.wikipedia.org/wiki/Nikola_Šubić_Zrinski_Square" target="_blank">Zrinjevac Park</a>
          </h3>
          <h3>
            <a href="http://botanickivrt.biol.pmf.hr/en/" target="_blank">Zagreb Botanical Garden</a>
          </h3>
        </div>
      </div>
      <!-- /.row -->
    </div>