<!-- Page Content -->
    <div class="container-fluid">

<!-- Content Row -->
      <div class="row">

        <div class="col-lg-4 mb-4">
          <h3>
            <a href="https://en.wikipedia.org/wiki/Ban_Jelačić_Square">Ban Jelačić Square</a>
          </h3>
          <h3>
            <a href="http://www.pp-medvednica.hr/en/">Nature Park Medvednica</a>
          </h3>
          <h3>
            <a href="https://zoo.hr/">Zagreb ZOO in Maksimir Park</a>
          </h3>
          <h3>
            <a href="https://en.wikipedia.org/wiki/Bundek">Bundek Lake</a>
          </h3>
          <h3>
            <a href="https://en.wikipedia.org/wiki/Jarun">Jarun Lake</a>
          </h3>
          <h3>
            <a href="https://en.wikipedia.org/wiki/Zagreb_Cathedral">Zagreb Cathedral</a>
          </h3>
          <h3>
            <a href="https://en.wikipedia.org/wiki/Gornji_Grad–Medveščak">Upper Town</a>
          </h3>
          <h3>
            <a href="https://en.wikipedia.org/wiki/Nikola_Šubić_Zrinski_Square">Zrinjevac Park</a>
          </h3>
          <h3>
            <a href="http://botanickivrt.biol.pmf.hr/en/">Zagreb Botanical Garden</a>
          </h3>
        </div>
      </div>
      <!-- /.row -->
    </div>