 <!-- Page Content -->
    <div class="container-fluid">

<!-- Content Row -->
      <div class="row">
        <!-- Contact Details Column -->
        <div class="col-lg-4 mb-4">
          <h3>Apartment location</h3>
          <p>
            Kružićeva ulica
            <br>Zagreb, 10000
            <br>Croatia
            <br>
          </p>
          <p>
            <abbr title="Email">E</abbr>:
            <a href="mailto:parisija@gmail.com">parisija@gmail.com
            </a>
          </p>
        </div>

        <!-- Map Column -->
        <div class="col-lg-8 mb-4">
          <!-- Embedded Google Map -->
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2781.2281987572246!2d15.988820215474604!3d45.80668801854598!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4765d6510b2b1bc3%3A0xe2315c0e482eb2a!2zS3J1xb5pxIdldmEgdWwuLCAxMDAwMCwgWmFncmVi!5e0!3m2!1sen!2shr!4v1542279199828" width=max-width height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
      <!-- /.row -->
    </div>