<header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="9"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="10"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="11"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="12"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="13"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image: url('/assets/apartment/x1_2.jpeg')">
            <div class="carousel-caption d-none d-md-block">
              <h3>1</h3>
            </div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('/assets/apartment/x2_2.jpeg')">
            <div class="carousel-caption d-none d-md-block">
              <h3>2</h3>
            </div>
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('/assets/apartment/x3_1.jpeg')">
            <div class="carousel-caption d-none d-md-block">
              <h3>3</h3>
            </div>
          </div>
          <!-- Slide 4 - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('/assets/apartment/x4_1.jpeg')">
            <div class="carousel-caption d-none d-md-block">
              <h3>4</h3>
            </div>
          </div>
          <!-- Slide 5 - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('/assets/apartment/x5_1.jpeg')">
            <div class="carousel-caption d-none d-md-block">
              <h3>5</h3>
            </div>
          </div>
          <!-- Slide 6 - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('/assets/apartment/x6_1.jpeg')">
            <div class="carousel-caption d-none d-md-block">
              <h3>6</h3>
            </div>
          </div>
          <!-- Slide 7 - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('/assets/apartment/x7_1.jpeg')">
            <div class="carousel-caption d-none d-md-block">
              <h3>7</h3>
            </div>
          </div>
          <!-- Slide 8 - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('/assets/apartment/x8_1.jpeg')">
            <div class="carousel-caption d-none d-md-block">
              <h3>8</h3>
            </div>
          </div>
          <!-- Slide 9 - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('/assets/apartment/x9_2.jpeg')">
            <div class="carousel-caption d-none d-md-block">
              <h3>9</h3>
            </div>
          </div>
          <!-- Slide 10 - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('/assets/apartment/x10_2.jpeg')">
            <div class="carousel-caption d-none d-md-block">
              <h3>10</h3>
            </div>
          </div>
          <!-- Slide 11 - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('/assets/apartment/x11_1.jpeg')">
            <div class="carousel-caption d-none d-md-block">
              <h3>11</h3>
            </div>
          </div>
          <!-- Slide 12 - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('/assets/apartment/x12_2.jpeg')">
            <div class="carousel-caption d-none d-md-block">
              <h3>12</h3>
            </div>
          </div>
          <!-- Slide 13 - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('/assets/apartment/x13_2.jpeg')">
            <div class="carousel-caption d-none d-md-block">
              <h3>13</h3>
            </div>
          </div>
          <!-- Slide Th14ree - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('/assets/apartment/x14_2.jpeg')">
            <div class="carousel-caption d-none d-md-block">
              <h3>14</h3>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>

    <!-- Page Content -->
    <section class="py-5">
      <div class="container-fluid">
        <h1>Welcome</h1>
        <p>to my lovely city, and my sweet home</p>
        <p>The Apartment is situated next to the green quiet park in the street with a great farmers' market. 
			It is only 2 minutes walk from the central bus terminal (you can get all around Croatia from there and the buses from airport will bring you here), 2 tram stops or 10 minutes walk from central train station and 15 minutes walk from main Zagreb square.</p>
        <p>More information:</p>
        <p>Double bed in the bedroom</p>
        <p>There's cable TV and FREE high speed wireless Internet connection.</p>
        <p>Kitchen in the apartment is ready to use with all the dishes necessary.</p>
        <p>If you should have any questions regarding Your stay in Zagreb please feel free to contact me.</p>	
      </div>
    </section>
