 <!-- Page Content -->
    <div class="container-fluid">

<!-- Content Row -->
      <div class="row">
        <!-- Contact Details Column -->
        <div class="col-lg-4 mb-4">
          <h3>Privacy policy</h3>
          <p>
            We don't store or even collect you data.
          </p>
        </div>

      </div>
      <!-- /.row -->
    </div>