<!DOCTYPE html>
<html>
<head>
  <title>RentingWeb</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">

   <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.1/examples/sticky-footer/sticky-footer.css" rel="stylesheet">
 <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.1/examples/navbars/navbar.css" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body style="font-size:16px;">

<!-- Navigation -->
<nav class="navbar navbar-expand-sm navbar-light bg-light">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample10" aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
    <ul class="navbar-nav">

		<li class="nav-item active">
			<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
		</li>
		<li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Book</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="font-size:14px;">
          <a class="dropdown-item" href="https://www.airbnb.com/rooms/162372?s=51" target="_blank">Airbnb.com</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://www.booking.com/hotel/hr/apartment-tino-zagreb.hr.html" target="_blank">Booking.com</a>
        </div>
		</li>
		<li class="nav-item">
		 	<a class="nav-link" href="/calendar">Calendar</a>
		</li>
		<li class="nav-item">
		 	<a class="nav-link" href="/contact">Contact</a>
		</li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Events</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://www.infozagreb.hr/events" target="_blank">infozagreb.com</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://www.inyourpocket.com/zagreb/events" target="_blank">inyourpocket.com</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://divan.fyi/en/" target="_blank">divan.fyi</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="http://vikendplaner.info/eng/" target="_blank">vikendplaner.info</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://www.eventim.hr/en/venues/zagreb/city.html" target="_blank">eventim.hr</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="http://www.meetinzagreb.hr/events" target="_blank">meetinzagreb.hr</a>
        </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Sightseeing tips</a>
    </li>
    </ul>
  </div>
</nav>

<%= yield %>

<!-- Footer -->
<footer class="footer">
    <div class="container">
        <span class="text-muted">Copyright &copy; 2018</span>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
